/* Base16 Silk Light
 * Scheme author: Gabriel Fontes (https://github.com/Misterio77)
 * Obsidian theme author: acidghost (https://github.com/acidghost)
 */

:root {
    --font-monospace: 'Hack Nerd Font', 'Source Code Pro', monospace;
}

.theme-dark {
    --background-primary: #E9F1EF;
    --background-primary-alt: #CCD4D3;
    --background-secondary: #E9F1EF;
    --background-secondary-alt: #CCD4D3;
    --background-modifier-border: #5C787B;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #6CA38C;
    --background-modifier-error: #CF432E;
    --background-modifier-error-rgb: 207, 67, 46;
    /* --background-modifier-error-hover: #470000; */
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #865369;
    --text-accent-hover: #39AAC9;
    --text-normal: #D2FAFF;
    --text-muted: #385156;
    --text-muted-rgb: 56, 81, 86;
    --text-faint: #5C787B;
    --text-error: #6E6582;
    --text-error-hover: #CF432E;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #865369;
    --interactive-accent-rgb: 134, 83, 105;
    --interactive-accent-hover: #6E6582;
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.1);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;
}

.CodeMirror-lines {
    font-family: var(--font-monospace);
}

.graph-view.color-fill,
.graph-view.color-circle,
.graph-view.color-line,
.graph-view.color-text,
.graph-view.color-arrow {
    color: var(--text-accent);
}

.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
    color: var(--text-accent-hover);
}

.graph-view.color-fill-unresolved {
    color: #600;
}

.workspace-tabs .workspace-leaf {
    background-color: var(--background-primary);
}

.workspace-tab-header-container {
    background-color: var(--background-primary);
}

.workspace-tab-header.is-active {
    background-color: var(--background-primary);
    color: var(--text-accent);
}

.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner {
    background-color: var(--background-primary);
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
    background-color: var(--background-primary);
}

.workspace-split.mod-root > .workspace-leaf:last-of-type .workspace-leaf-content {
    border-top-right-radius: 0;
}
.workspace-split.mod-root > .workspace-leaf:first-of-type .workspace-leaf-content {
    border-top-left-radius: 0;
}

.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
    border-top-left-radius: 0;
}
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf {
    border-top-right-radius: 0;
}

.suggestion-item.is-selected {
    background-color: var(--background-primary-alt);
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: 900px;
}

.markdown-source-view.is-readable-line-width .CodeMirror {
    max-width: 900px;
}
