/* Base16 Gruvbox light, hard
 * Scheme author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
 * Obsidian theme author: acidghost (https://github.com/acidghost)
 */

:root {
    --font-monospace: 'Hack Nerd Font', 'Source Code Pro', monospace;
}

.theme-dark {
    --background-primary: #f9f5d7;
    --background-primary-alt: #ebdbb2;
    --background-secondary: #f9f5d7;
    --background-secondary-alt: #ebdbb2;
    --background-modifier-border: #bdae93;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #79740e;
    --background-modifier-error: #9d0006;
    --background-modifier-error-rgb: 157, 0, 6;
    /* --background-modifier-error-hover: #470000; */
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #d65d0e;
    --text-accent-hover: #076678;
    --text-normal: #282828;
    --text-muted: #504945;
    --text-muted-rgb: 80, 73, 69;
    --text-faint: #bdae93;
    --text-error: #8f3f71;
    --text-error-hover: #9d0006;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #d65d0e;
    --interactive-accent-rgb: 214, 93, 14;
    --interactive-accent-hover: #8f3f71;
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.1);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;
}

.CodeMirror-lines {
    font-family: var(--font-monospace);
}

.graph-view.color-fill,
.graph-view.color-circle,
.graph-view.color-line,
.graph-view.color-text,
.graph-view.color-arrow {
    color: var(--text-accent);
}

.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
    color: var(--text-accent-hover);
}

.graph-view.color-fill-unresolved {
    color: #600;
}

.workspace-tabs .workspace-leaf {
    background-color: var(--background-primary);
}

.workspace-tab-header-container {
    background-color: var(--background-primary);
}

.workspace-tab-header.is-active {
    background-color: var(--background-primary);
    color: var(--text-accent);
}

.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner {
    background-color: var(--background-primary);
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
    background-color: var(--background-primary);
}

.workspace-split.mod-root > .workspace-leaf:last-of-type .workspace-leaf-content {
    border-top-right-radius: 0;
}
.workspace-split.mod-root > .workspace-leaf:first-of-type .workspace-leaf-content {
    border-top-left-radius: 0;
}

.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
    border-top-left-radius: 0;
}
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf {
    border-top-right-radius: 0;
}

.suggestion-item.is-selected {
    background-color: var(--background-primary-alt);
}
