/* Base16 Brush Trees
 * Scheme author: Abraham White &lt;abelincoln.white@gmail.com&gt;
 * Obsidian theme author: acidghost (https://github.com/acidghost)
 */

:root {
    --font-monospace: 'Hack Nerd Font', 'Source Code Pro', monospace;
}

.theme-dark {
    --background-primary: #E3EFEF;
    --background-primary-alt: #C9DBDC;
    --background-secondary: #E3EFEF;
    --background-secondary-alt: #C9DBDC;
    --background-modifier-border: #98AFB5;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #87b386;
    --background-modifier-error: #b38686;
    --background-modifier-error-rgb: 179, 134, 134;
    /* --background-modifier-error-hover: #470000; */
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #b39f9f;
    --text-accent-hover: #868cb3;
    --text-normal: #485867;
    --text-muted: #6D828E;
    --text-muted-rgb: 109, 130, 142;
    --text-faint: #98AFB5;
    --text-error: #b386b2;
    --text-error-hover: #b38686;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #b39f9f;
    --interactive-accent-rgb: 179, 159, 159;
    --interactive-accent-hover: #b386b2;
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.1);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;
}

.CodeMirror-lines {
    font-family: var(--font-monospace);
}

.graph-view.color-fill,
.graph-view.color-circle,
.graph-view.color-line,
.graph-view.color-text,
.graph-view.color-arrow {
    color: var(--text-accent);
}

.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
    color: var(--text-accent-hover);
}

.graph-view.color-fill-unresolved {
    color: #600;
}

.workspace-tabs .workspace-leaf {
    background-color: var(--background-primary);
}

.workspace-tab-header-container {
    background-color: var(--background-primary);
}

.workspace-tab-header.is-active {
    background-color: var(--background-primary);
    color: var(--text-accent);
}

.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner {
    background-color: var(--background-primary);
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
    background-color: var(--background-primary);
}

.workspace-split.mod-root > .workspace-leaf:last-of-type .workspace-leaf-content {
    border-top-right-radius: 0;
}
.workspace-split.mod-root > .workspace-leaf:first-of-type .workspace-leaf-content {
    border-top-left-radius: 0;
}

.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
    border-top-left-radius: 0;
}
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf {
    border-top-right-radius: 0;
}

.suggestion-item.is-selected {
    background-color: var(--background-primary-alt);
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: 900px;
}

.markdown-source-view.is-readable-line-width .CodeMirror,
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-content,
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row),
.markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer {
    max-width: 900px;
}
